@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './fonts';

@import './nav';
@import './main';
@import './markdown';

html {
  font-size: 18px;
}

a {
  @apply underline rounded
      outline-offset-0
      text-blue-700 hover:text-blue-900
      focus:no-underline focus:outline focus:outline-2 focus:outline-blue-700
      hover:no-underline hover:outline hover:outline-2 hover:outline-blue-300 hover:bg-blue-300;
}

em {
  @apply not-italic font-bold text-blue-500;
}

kbd {
  @apply rounded shadow shadow-blue-500 border border-blue-500 px-1 pt-[2px] pb-px bg-zinc-200 text-blue-700;
}

tab-group {
  @apply mt-4;
}

tab-group #tablist {
  @apply flex;
}

tab-group #tablist button {
  @apply block flex-grow;
}

tab-group [role=tabpanel] {
  @apply border border-blue-500 rounded-b-xl p-4;
}
