main > header,
main > section {
  @apply p-6 bg-gray-100 shadow-inner rounded-2xl
}

section.warning {
  @apply p-6 bg-gray-100 shadow-inner shadow-red-300 rounded-2xl bg-red-100;
}

h1, h2 {
  @apply text-3xl font-bold text-blue-500
}

h3 {
  @apply mt-4 text-2xl text-blue-500;
}

h4 {
  @apply mt-4 text-xl text-blue-500;
}

code.html-tag,
code.js-class {
  @apply text-blue-500 font-bold;
}

code.html-tag::before {
  content: '<';
}

code.html-tag::after {
  content: '>';
}

header > code {
  @apply block mt-4;
}

p {
  @apply mt-4;
}

pre {
  @apply mt-4 px-4 overflow-x-auto border border-blue-500 rounded-2xl bg-zinc-200;
  box-shadow: inset 0 0 0.5rem 0.1rem #b3b3b3;
  scrollbar-color: #d1d5db #4b5563;
}

pre::-webkit-scrollbar {
  @apply bg-gray-500;
}

pre::-webkit-scrollbar:horizontal {
  @apply rounded-b-2xl;
  height: 1.2rem;
}

pre::-webkit-scrollbar-button {
  width: 0.3rem;
}

pre::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-zinc-50;
  border: 0.2rem solid #6b7280;
  box-shadow: inset 0 0 0.5rem 0.1rem #6b7280;
}

ul {
  @apply flex flex-col gap-2 mt-4 ml-4 list-disc;
}