nav a {
  @apply block no-underline text-gray-100 rounded
  outline-offset-0
  focus:no-underline focus:outline focus:outline-4 focus:outline-blue-300
  hover:no-underline hover:outline hover:outline-4 hover:outline-blue-300 hover:bg-blue-300 hover:text-blue-900;
}

nav span {
  @apply block pt-4 border-t-2 border-gray-100 font-bold;
}

nav div.in-page {
  @apply flex flex-col flex-shrink-0 gap-2
    p-1
    bg-gray-100 shadow-inner-fine
    rounded-lg;
  margin-top: -0.25rem;
  margin-left: -0.5rem;
  margin-bottom: -0.25rem;
  width: calc(100% + 1rem);
}

nav div.in-page a {
  @apply pl-1 text-gray-900;
}

nav div.in-page a:first-child {
  @apply font-bold text-blue-500;
}